@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container  py-4 bg-white">
    
    <div class="row mb-4">
        <div class="col-12 text-center pagetitlethree">
            <h1 class="display-4 fw-bold">
                BENEFITS PROVIDED BY ARMY GROUP INSURANCE FUND TO ITS MEMBERS

                WHILE IN SERVICE AND AFTER RETIREMENT
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ol class="fs-5 ">
                <li>
                    Immediately after India got independence, the country was involved in operations in J&K, insurgencies in Nagaland and Mizoram, war with China in 1962 and the Indo-Pak War of 1965 and 1971. During these operations, the Army suffered heavy casualties, often resulting in the ultimate sacrifice. However, the next of kin and dependants of the martyrs were neither compensated by the govt, nor by the insurance agencies extant.This resulted in financial suffering of the families of the martyrs. In certain cases, their situation was deplorable. Hence, after 1971 War, keeping these conditions in mind, a case was taken up with the Government to start compulsory group insurance scheme for defence personnel as they were not covered by Life Insurance Corporation for war/ warlike situations. After four years of  correspondence, Army Group Insurance Scheme was approved by the Government to be run departmentally by Army HQ as a contributory self run scheme under the aegis of Adjutant General’s Branch, Army HQ without any financial assistance either from the Govt or any other agency. To run the insurance scheme, monthly premium was required to be collected from the service personnel to meet compulsory contribution. To reduce cost of running the Scheme and also ensuring foolproof system of effecting monthly subscription, the Government approved deduction of premium for the Scheme under Rule 205(b) of Army Rule 1954 which permits recovery of compulsory contribution towards any fund approved by the Central Government.
                </li>
                <li>
                    As the AGI Scheme was meant only for Army personnel, there was a requirement to establish an interlink between AGIF and the Army for ease of expression of views and dissemination of important policy decisions to members spread in various parts of borders of the Country, thereby making it transparent for higher satisfaction level of members. It would also result in administrative ease and smooth implementation of procedure for deduction of monthly subscription thereby enhancing financial security and functional efficiency of the Fund. Since Adjutant General’s Branch looks after all welfare schemes of Army personnel, hence, Government sanction for the establishment of AGIF as Insurance Directorate under the aegis of Adjutant General’s Branch was accorded in Dec 1975. Hence, the name AGI Directorate was permitted to be used.
                </li>
                <li>
                    On inception, AGIF had started with just two schemes in 1976. It has come a long way since then, introducing many schemes, keeping in view the socio-economic conditions and needs of the members and their families.
                </li>
            </ol>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card border-info mb-4">
                <div class="card-header bg-info text-white">
                    <h3 class="mb-0">The present AGIF schemes are listed below</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex">
                            <span class="fw-bold me-2">(a)</span>
                            <div>
                                Life Insurance Cover for Regular Army Personnel.
                            </div>
                        </li>

                        <li class="list-group-item d-flex">
                            <span class="fw-bold me-2">(b)</span>
                            Insurance Cover for TA, APS and DSC personnel.
                        </li>

                        <li class="list-group-item d-flex">
                            <span class="fw-bold me-2">(c)</span>
                            <div>Additional Insurance Cover for Army Aviation Pilots.</div>
                        </li>

                        <li class="list-group-item d-flex">
                            <span class="fw-bold me-2">(d)</span>
                            <div> Disability Benefits.</div>
                        </li>

                        <li class="list-group-item d-flex">
                            <span class="fw-bold me-2">(e)</span>
                            <div>Maturity Benefits.</div>
                        </li>

                        <li class="list-group-item d-flex">
                            <span class="fw-bold me-2">(f)</span>
                            <div>Final withdrawal from Maturity Benefit towards meeting obligations of marriage and education of the members children.</div>
                        </li>

                        <li class="list-group-item d-flex">
                            <span class="fw-bold me-2">(g)</span>
                            <div>Ex Gratia Disability Allowance to Severely Handicapped and Disabled Officers and JCOs/ OR and Cadets undergoing training at IMA and OTA.</div>
                        </li>

                        <li class="list-group-item d-flex">
                            <span class="fw-bold me-2">(h)</span>
                            <div>Insurance cover for Cadets at NDA, IMA, OTA, CME, MCTE, MCEME and AFMC.</div>
                        </li>

                        <li class="list-group-item d-flex">
                            <span class="fw-bold me-2">(j)</span>
                            <div>Sustenance Allowance to Differently Abled Children of Service personnel Dying in Harness.</div>
                        </li>

                        <li class="list-group-item d-flex">
                            <span class="fw-bold me-2">(k)</span>
                            <div> Post Retirement Extended Insurance Scheme with refund of premium on maturity.</div>
                        </li>

                        <li class="list-group-item d-flex">
                            <span class="fw-bold me-2">(l)</span>
                            <div>Social Security Deposit Scheme for widows and minors.</div>
                        </li>

                        <li class="list-group-item d-flex">
                            <span class="fw-bold me-2">(m)</span>
                            <div>Conveyance Advance Scheme.</div>
                        </li>

                        <li class="list-group-item d-flex">
                            <span class="fw-bold me-2">(n)</span>
                            <div>House Building Advance Scheme.</div>
                        </li>

                        <li class="list-group-item d-flex">
                            <span class="fw-bold me-2">(o)</span>
                            <div>Personal Computer Advance Scheme.</div>
                        </li>

                        <li class="list-group-item d-flex">
                            <span class="fw-bold me-2">(p)</span>
                            <div> Conveyance and House Building Advance Linked Group Life Insurance Scheme.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>