@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var samlRole = Context.Session.GetString("SAMLRole");
}

    <link href="~/css/home-index.css" rel="stylesheet" />

<div class="container-fluid mt-2">
    <div class="row align-items-center">
        <!-- First Column: MD Profile -->
        <div class="col-12 col-md-3 text-start">
            <div class="panel panel-default border">
                <div class="panel-heading d-flex justify-content-center align-items-center">
                    <b class="m-0 text-white">MD</b>
                </div>
                <div class="panel-body text-center p-4">
                    <a href="~/Home/MDprofile">
                        <img src="~/Images/profile/RCP-2902.jpg" class="img-fluid">
                    </a>
                    <div class="mt-2">
                        <a href="~/Home/MDprofile" class="fw-bold text-decoration-none">Maj AB Singh, SM, VSM(Retd)</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Column: Image Slider -->
        <div class="col-12 col-md-6 text-center">
            <div class="slider border">
                <div class="slides">
                    <div class="slide">
                        <img src="~/Images/pics/agif.jpg" alt="Slide 1">
                    </div>
                    <div class="slide">
                        <img src="~/Images/pics/1a.jpg" alt="Slide 2">
                    </div>
                    <div class="slide">
                        <img src="~/Images/pics/1aaa.png" alt="Slide 3">
                    </div>
                    <div class="slide">
                        <img src="~/Images/pics/1aaaa.png" alt="Slide 4">
                    </div>
                </div>

                <!-- Dots for navigation -->
                <div class="dots">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        </div>

        <!-- Third Column: What's New -->
        <div class="col-12 col-md-3 text-end">
            <div class="panel panel-default border">
                <div class="panel-heading d-flex justify-content-center align-items-center">
                    <b class="m-0 text-white">What's New</b>
                </div>
                <div class="panel-body p-0">
                    <div class="ticker-container h-100">
                        <ul id="ticker01" class="list-unstyled p-3 m-0">
                            <li class="mb-2">
                                <img src="~/Images/new.gif" class="me-2" />
                                <a target="_blank" href="~/PdfViewer/SavingElement" class="text-decoration-none">Saving Element</a>
                            </li>
                            <li class="mb-2">
                                <img src="~/Images/new.gif" class="me-2" />
                                <a target="_blank" href="~/PdfViewer/AgifInfoBrochure" class="text-decoration-none">AGIF Info Brochure 2024</a>
                            </li>
                            <li class="mb-2">
                                <img src="~/Images/new.gif" class="me-2" />
                                <a target="_blank" href="~/PdfViewer/GuidelinesUnitCdr" class="text-decoration-none">Guidelines for Unit Cdr Registration</a>
                            </li>
                            <li class="mb-2">
                                <img src="~/Images/new.gif" class="me-2" />
                                <a target="_blank" href="~/PdfViewer/UserManual" class="text-decoration-none">Guidelines for Applicant to apply online CA/PCA/HBA</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Row -->
    <div class="row align-items-center mt-3">
        <!-- FAQ Column -->
        <div class="col-12 col-md-3 text-center">
            <div class="panel panel-default border second-row" >
                <div class="panel-heading d-flex justify-content-center align-items-center">
                    <b class="m-0 text-white">FAQ</b>
                </div>
                <div class="panel-body p-3">
                    <div class="h-100 text-start">
                        <ul class="list-styled">
                            <li class="mb-2">
                                <a href="~/PdfViewer/AGIFLoanInwardPaymentUsingNEFT" target="_blank" class="text-decoration-none">Claims</a>
                            </li>
                            <li class="mb-2">
                                <a href="~/PdfViewer/FaqAdvancesGeneral" target="_blank" class="text-decoration-none">Advances General</a>
                            </li>
                            <li class="mb-2">
                                <a href="~/PdfViewer/FaqHBA" target="_blank" class="text-decoration-none">House Building Advance (HBA)</a>
                            </li>
                            <li class="mb-2">
                                <a href="~/PdfViewer/FaqCA" target="_blank" class="text-decoration-none">Conveyance Advance (CA)</a>
                            </li>
                            <li class="mb-2">
                                <a href="~/PdfViewer/FaqPCA" target="_blank" class="text-decoration-none">Personal Computer Advance (PCA)</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Us Column -->
        <div class="col-12 col-md-6 text-center">
            <div class="panel panel-default border second-row" >
                <div class="panel-heading d-flex justify-content-center align-items-center" >
                    <b class="m-0 text-white">About Us</b>
                </div>
                <div class="panel-body text-justify p-3">
                    <div class="overflow-auto h-100">
                        The Army Group Insurance Scheme is a group insurance cum savings scheme. It provides insurance and allied benefits to all ranks of the Indian Army. It is a society registered with the Registrar of Societies under the Registration of Societies Act (Act XX1) of 1860. It is operated entirely on the basis of monthly contributions by all ranks of the Army and is a self supporting and self sustaining organisation. AGIF is dynamic in its outlook and keeps revising its schemes to meet the aspirations and needs of its members. The entire cost of running the scheme i.e pay and allowances and maintenance charges of the organization are borne by the Fund.
                    </div>
                </div>
            </div>
        </div>

        <!-- Quick Links Column -->
        <div class="col-12 col-md-3 text-center">
            <div class="panel panel-default border second-row">
                <div class="panel-heading d-flex justify-content-center align-items-center" >
                    <b class="m-0 text-white">Quick Links</b>
                </div>
                <div class="panel-body p-3">
                    <div class="d-flex flex-column h-100 justify-content-start">
                        <ul class="p-0 list-unstyled">
                            <li class="pb-2">
                                <a target="_blank" href="https://portal.army.mil" class="btn btn-info w-100">Army Portal</a>
                            </li>
                            <li class="pb-2">
                                <a target="_blank" href="https://msweb.army.mil" class="btn btn-info w-100">MS Web</a>
                            </li>
                            <li class="pb-2">
                                <a target="_blank" href="https://agweb.army.mil" class="btn btn-info w-100">AG Web</a>
                            </li>
                            <li class="pb-2">
                                <div class="btn btn-info w-100 d-flex align-items-center justify-content-center">
                                    <i class="fa fa-envelope-o me-2"></i>adagif@gmail.com
                                </div>
                            </li>
                            @if (!string.IsNullOrEmpty(samlRole) && samlRole == "unitCdr")
                            {
                                <li class="pb-2">
                                    <a href="~/CORole/UserApplicationList" class="btn btn-info w-100">
                                        <i class="fa fa-envelope-o me-2"></i>Unit Cdr Dashboard
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/devjs/home-index.js"></script>
}