
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container-fluid mt-2">
    <div class="row align-items-center">
        <!-- First Column: 20% -->
        <div class="col-12 col-md-3 text-start">
            <div class="panel panel-default">
                <div class="panel-heading" style="height:40px;text-align: -webkit-center;">
                    <b style="margin:0px;color:white;">MD</b>

                </div>
                <div class="panel-body" style="text-align:center;">
                    <a href="~/Home/MDprofile">
                        <img src="~/Images/profile/RCP-2902.jpg" style="width:60%; height:100%;">
                    </a>
                    <div>
                        <a href="~/Home/MDprofile"><b>Maj AB Singh, SM, VSM(Retd)</b></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Column: 60% -->
        <div class="col-12 col-md-6 text-center">
            <div class="slider">
                <div class="slides">
                    <div class="slide">
                        <img src="~/Images/pics/agif.jpg" alt="Slide 1">
                    </div>
                    <div class="slide">
                        <img src="~/Images/pics/1a.jpg" alt="Slide 2">
                    </div>
                    <div class="slide">
                        <img src="~/Images/pics/1aaa.png" alt="Slide 3">
                    </div>
                    <div class="slide">
                        <img src="~/Images/pics/1aaaa.png" alt="Slide 4">
                    </div>
                </div>

                <!-- Dots for navigation -->
                <div class="dots">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        </div>

        <!-- Third Column: 20% -->
        <div class="col-12 col-md-3 text-end">
            <div class="panel panel-default">
                <div class="panel-heading" style="height:40px;text-align: -webkit-center;">
                    <b style="margin:0px;color:white;">What's New</b>

                </div>
                <div class="panel-body">
                    <div class="holder" style="height:-webkit-fill-available;height:-moz-fill-available;">
                        <ul id="ticker01">
                            <li><img src="~/Images/new.gif" /><a target="_blank" href="~/PdfViewer/SavingElement">Saving Element</a></li>
                            <li><img src="~/Images/new.gif" /><a target="_blank" href="~/PdfViewer/AgifInfoBrochure">AGIF Info Brochure 2024 </a></li>
                            <li><img src="~/Images/new.gif" /><a target="_blank" href="~/PdfViewer/GuidelinesUnitCdr">Guidelines for Unit Cdr Registration</a></li>
                            <li><img src="~/Images/new.gif" /><a target="_blank" href="~/PdfViewer/UserManual">Guidelines for Applicant to apply online CA/PCA/HBA </a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-12 col-md-3 text-center">
                <div class="panel panel-default" style="height:310px">
                    <div class="panel-heading" style="height:40px;text-align: -webkit-center;">
                        <b style="margin:0px;color:white;">FAQ</b>

                    </div>
                    <div class="panel-body">
                        <div style="height:-webkit-fill-available;height:-moz-fill-available;">
                            <ul>
                                <li> <a href="~/PdfViewer/AGIFLoanInwardPaymentUsingNEFT" target="_blank">Claims</a></li>
                                <li> <a href="~/PdfViewer/FaqAdvancesGeneral" target="_blank">Advances General</a></li>
                                <li> <a href="~/PdfViewer/FaqHBA" target="_blank">House Building Advance (HBA)</a></li>
                                <li> <a href="~/PdfViewer/FaqCA" target="_blank">Conveyance Advance (CA)</a></li>
                                <li> <a href="~/PdfViewer/FaqPCA" target="_blank">Personal Computer Advance (PCA)</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 text-center">
                <div class="panel panel-default" style="height:310px;">
                    <div class="panel-heading" style="height:40px;text-align: -webkit-center;">
                        <b style="margin:0px;color:white;">About Us </b>

                    </div>

                    <div class="panel-body text-justify">
                        The Army Group Insurance Scheme is a group insurance cum savings scheme. It provides insurance and allied benefits to all ranks of the Indian Army. It is a society registered with the Registrar of Societies under the Registration of Societies Act (Act XX1) of 1860. It is operated entirely on the basis of monthly contributions by all ranks of the Army and is a self supporting and self sustaining organisation.AGIF is dynamic in its outlook and keeps revising its schemes to meet the aspirations and needs of its members. The entire cost of running the scheme i.e pay and allowances and maintenance charges of the organization are borne by the Fund.
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 text-center">
                <div class="panel panel-default" style="height:310px;">
                    <div class="panel-heading" style="height:40px;text-align:center;">
                        <b style="margin:0px;color:white;">Quick Links </b>

                    </div>

                    <div class="panel-body" style="height:250px;">
                        <div style="height:-webkit-fill-available">
                            <ul class="p-0 list-unstyled">
                                <li class="pb-1"><a target="_blank" href="https://portal.army.mil" class="btn btn-info btn-block">Army Portal</a></li>
                                <li class="pb-1"><a target="_blank" href="https://msweb.army.mil" class="btn btn-info btn-block">MS Web</a></li>
                                <li class="pb-1"><a target="_blank" href="https://agweb.army.mil" class="btn btn-info btn-block">AG Web</a></li>
                                <li class="btn btn-info btn-block" style="cursor:auto;"><i class="fa fa-envelope-o "></i> adagif@gmail.com  </li>
                                <li class="btn btn-info btn-block" style="cursor:auto;"><i class="fa fa-envelope-o "><a href="~/Account/Login">Unit Cdr/Admin Login</a></i>   </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    

</div>
<script>
    const slides = document.querySelector('.slides');
    const dots = document.querySelectorAll('.dot');
    let index = 0;
    const totalSlides = dots.length;

    function showSlide(i) {
        index = (i + totalSlides) % totalSlides; // Ensure circular navigation
        slides.style.transform = `translateX(${-index * 100}%)`;

        // Highlight the active dot
        dots.forEach(dot => dot.classList.remove('active'));
        dots[index].classList.add('active');
    }

    // Auto slide every 3 seconds
    setInterval(() => showSlide(index + 1), 3000); // Change slide every 3 seconds

    // Dot navigation (optional)
    dots.forEach((dot, i) => {
        dot.addEventListener('click', () => showSlide(i));
    });
</script>