@{
    ViewData["Title"] = "Message";
    Layout = null;
}

<div class="container mt-5">
    <div class="alert alert-warning text-center">
        <h4>@ViewBag.Message</h4>
        @* <a href="@Url.Action("Index", "Login")" class="btn btn-primary mt-3">Go Back to Login</a> *@
    </div>
</div>
