@{
    ViewData["Title"] = "Received Applications";
}

<div class="container">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title">
                        <h2>
                            CA/PCA/HBA Received Applications
                        </h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">Applications</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    CA/PCA/HBA Received Applications
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <div class="card mt-2">

            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-wrapper table-responsive">
                            <table class="table table-striped border border-purple table-hover" id="tblReceivedApplications">
                                <thead>
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th>Status</th>
                                        <th>Army No</th>
                                        <th>Applicant Name</th>
                                        <th>Old Army No</th>
                                        <th>Regt/Corps</th>
                                        <th>Present Unit</th>
                                        <th>PCDA(O)/PAO(OR)</th>
                                        <th>Applied Date</th>
                                        <th>Remarks</th>
                                        <th>XML Download</th>
                                        <th class="noExport">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- DataTables will populate this -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
