.ticker-container {
    height: 200px;
    overflow: hidden;
    position: relative;
}

#ticker01 {
    animation: scroll 20s linear infinite;
    position: relative;
    padding-top: 200px; /* Start below the container */
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}
.second-row{
    height:310px;
}

.imgfluid{
    width: 70%;
    height: 109%;
    object-fit: cover;
    margin:auto;
}
.chatModal {
    transition: all 0.3s ease-in-out;
    margin-top: 420px;
}

.link-container a {
    color: #1b46d1;
    /* blue color */
    text-decoration: none;
    /* Removes underline */
}

    .link-container a:hover {
        text-decoration: underline;
        /* Adds underline on hover */
    }

.chat-toggle-btn {
    position: fixed;
    bottom: 45px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: red;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .chat-toggle-btn:hover {
        background-color: red;
        transform: scale(1.05);
    }

.popup-header {
    text-align: center;
    padding: 8px 85px;
    background-color: #006db6;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .popup-header button {
        background: none;
        border: none;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

        .popup-header button:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }

.navbar .collapse {
    visibility: visible !important;
}
