
#validationerrormessage {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    min-width: 300px;
}

#upload {
    font-size: 1.5rem;
    text-decoration: none;
}

.uploadeye {
    font-size: 1.5rem;
    cursor: pointer;
}

#message {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

embed {
    width: 100%;
    height: 1000px;
}