@{
    ViewData["Title"] = "Loan type";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<link href="~/css/LoanType.css" rel="stylesheet" />

<!--New With responsive-->
<div class="container-fluid mt-2">
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="card loan-card shadow p-4 w-100 mt-lg-5">
            <div class="pagetitle">
                <h1>Apply Loan</h1>
            </div>

            <form id="loanForm" action="/OnlineApplication/Redirection" method="post">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <div class="form-group">
                        <label for="loanType" class="text-nowrap">Loan Type :</label>
                        <select id="loanType" name="loanType" class="form-select" required>
                        </select>
                    </div>

                </div>

                <div class="mb-3">
                    <div class="form-group">
                        <label for="applicantCategory" class="text-nowrap">Applicant Category:</label>
                        <select id="applicantCategory" name="applicantCategory" class="form-select" required>
                        </select>
                    </div>
                </div>

                <!-- Terms -->
                <div class="mb-3">
                    <div class="terms-text">
                        I have read the Gen Instruction of HBA/CA/PCA loan
                        <strong>(As applicable)</strong>. I have understood all rules, terms and
                        conditions for grant of loan. These rules are acceptable to me.
                    </div>
                </div>

                <!-- Error message container -->
                <div class="errormessage text-danger"></div>

                <!-- Download link -->
                <a id="genInstr" class="download-link" target="_blank" href="#" data-title="Apply for Loan Online">
                    📄 Download Gen Instr
                </a>

                <!-- Buttons -->
                <div class="form-buttons text-center d-flex flex-column flex-md-row justify-content-center gap-2">
                    <a class="btn btn-outline-warning mt-2" href="~/Default/Index">Do Not Agree</a>
                    <button type="button" id="btnAgree" class="btn btn-primary mt-2">Agree & Continue</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/devjs/loantype.js"></script>
