@using DataTransferObject.Model;
@model LoginViewModel;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container-fluid mt-2">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card shadow p-4 w-25 mt-lg-5">
            <div class="pagetitle">
                <h1>
                    Login
                </h1>
            </div>
            <form asp-action="Login" method="post">
                <div class="mb-3">
                    <div class="form-group">
                        <label asp-for="UserName">Username:</label>
                        <input type="text" asp-for="UserName" class="form-control" />
                    </div>

                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label asp-for="Password">Password:</label>
                        <input type="password" asp-for="Password" class="form-control" />
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        
                        <input type="checkbox" asp-for="RememberMe" />
                        <label asp-for="RememberMe">Remember Me</label>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>