@{
    ViewData["Title"] = "Maturity Loan type";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container-fluid mt-2">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card shadow p-4 w-25 mt-lg-5">
            <div class="pagetitle">
                <h1>
                    Apply Maturity
                </h1>
            </div>
            <form id="loanForm" action="/Claim/Redirection" method="post">
                <div class="mb-3">
                    <div class="form-group">
                        <label for="Category">Applicant Category:</label>
                        <select id="Category" name="Category" class="form-select" required>
                        </select>
                    </div>

                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="PurposeOfWithdrwal">Purpose Of Withdrawal:</label>
                        <select id="PurposeOfWithdrwal" name="PurposeOfWithdrwal" class="form-select" required>
                        </select>
                    </div>
                </div>
                <!-- Terms -->
               

                <!-- Buttons -->
                <div class="errormessage">
                </div>

                <a id="genInstr" class="alert link-danger" target="_blank" href="Home/Index" data-title="Apply for Loan Online">Download Gen Instr</a>
                <div class="form-buttons text-center">

                    <a class="btn btn-outline-warning mt-2 " href="Home/Index">Do Not Agree</a>
                    <button type="button" id="btnAgree" class="btn btn-primary mr-2 mt-2">Agree</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/devjs/Maturityloantype.js"></script>
