@using System.Security.Claims;
@using DataAccessLayer.Interfaces
@using Microsoft.AspNetCore.Identity;
@using DataTransferObject.Identitytable;
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> signInManager;
@inject SignInManager<ApplicationUser> _signInManager;
@inject IUserMapping _userMapping;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Army Group Insurance Fund">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ARMY GROUP INSURANCE FUND 3.0</title>

    <!-- ========== All CSS files linkup ========= -->

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/mdb/mdb.min.css" />

    <link rel="stylesheet" href="~/css/mdb/new-prism.css" />

    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <link href="~/lib/jquery/jquery-ui.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery-ui.min.js" ></script><!--For Calander-->
    <link href="~/lib/datatable/css/datatable.min.css" rel="stylesheet" />
    <script src="~/lib/datatable/js/datatable.min.js" ></script>
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/chatbot.css" rel="stylesheet" />
    <script src="~/lib/select2/dist/js/select2.min.js" ></script>
</head>
<body>
    <header class="fixed-header">
        <div class="container-fluid bg-gradient-custom py-2 top_bar">
            <div class="row align-items-center text-center">
                <div class="col-4 col-md-2">
                    <img id="headerLI" src="~/Images/logo/ia.jpg" class="img-fluid rounded-circle border-custom mx-auto d-block" alt="Left Logo" loading="lazy" decoding="async" />
                </div>
                <div class="col-4 col-md-8">
                    <span id="headerText" class="agi-title-font-size d-block">ARMY GROUP INSURANCE FUND 3.0</span>
                </div>
                <div class="col-4 col-md-2">
                    <img id="headerRI" src="~/Images/logo/AGIF_Logo.webp" class="img-fluid border-custom mx-auto d-block" alt="Right Logo" loading="lazy" decoding="async"/>
                </div>
            </div>
        </div>
        <div class="row fw-bold bg-white">

            <marquee>
                <b> <span class="text-danger">***</span>A New & Revamped <span class="text-danger">AGIF Web 3.0</span> Launched with Addl Features of Online Conveyance Advance(CA), Personal Computer Advance(PCA) and House Building Advance(HBA)<span class="text-danger">***</span></b>
            </marquee>
        </div>

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="nav-center container-fluid ">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active fw-bold me-3" aria-current="page" href="/Default/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold me-3" href="/Default/AboutUs">AboutUs</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fw-bold me-3" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">Benefits</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#">While in Service &raquo;</a>
                                    <ul class="dropdown-menu dropdown-submenu">
                                        <li><a class="dropdown-item" href="/Default/InsuranceCover">Insurance Cover</a></li>
                                        <li><a class="dropdown-item" href="/Default/AdditionalInsuranceCovertoArmyAviationOfficers">Additional Insurance Cover to Army Aviation Officers</a></li>
                                        <li><a class="dropdown-item" href="/Default/DisabilityBenefits">Disability Benefits</a></li>
                                        <li><a class="dropdown-item" href="/Default/ExGratiaDisabilityAllowance">Ex-Gratia Disability Allowance</a></li>
                                        <li><a class="dropdown-item" href="/Default/MaturityBenefits">Maturity Benefits</a></li>
                                        <li><a class="dropdown-item" href="/Default/FinalWithdrawalfromMaturityBenefit">Final Withdrawal from Maturity Benefit</a></li>
                                        <li><a class="dropdown-item" href="/Default/SustenanceAllowancetoDifferentlyAbledChildren">Sustenance Allowance to Differently Abled Children</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">After Retirement &raquo;</a>
                                    <ul class="dropdown-menu dropdown-submenu">
                                        <li><a class="dropdown-item" href="/Default/ExtendedInsuranceScheme">Extended Insurance Scheme</a></li>
                                        <li><a class="dropdown-item" href="/Default/SocialSecurityDepositsScheme">Social Security Deposits Scheme</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fw-bold me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Important Letters
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" target="_blank" href="~/PdfViewer/AGIJournal" data-title="Important Letters">AGI Journal 2024</a></li>
                                <li><a class="dropdown-item" target="_blank" href="~/PdfViewer/AGIFLoanInwardPaymentUsingNEFT" data-title="Important Letters">Fraud in name of AGIF</a></li>
                                <li><a class="dropdown-item" target="_blank" href="~/PdfViewer/BenevolentReserveFund" data-title="Important Letters">Pre-EMI Revision : HBA</a></li>
                                <li><a class="dropdown-item" target="_blank" href="~/PdfViewer/Fraud" data-title="Important Letters">AGIF Loan : Inward Payment Using NEFT</a></li>
                                <li><a class="dropdown-item" target="_blank" href="~/PdfViewer/PreEmiRevision" data-title="Important Letters">Revision of Policy for Grant of HBA</a></li>
                                <li><a class="dropdown-item" target="_blank" href="~/PdfViewer/ProvisioningofITRebateCertificate" data-title="Important Letters">Review of HBA</a></li>
                                <li><a class="dropdown-item" target="_blank" href="~/PdfViewer/ReviewOfHBA" data-title="Important Letters">Benevolent Reserve Fund</a></li>
                                <li><a class="dropdown-item" target="_blank" href="~/PdfViewer/RevisedNominationForm" data-title="Important Letters">REVISED NOMINATION FORM 26 Mar 2019</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fw-bold me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Apply For Maturity
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" target="_blank" href="~/PdfViewer/ClaimInstruction" data-title="Apply for Maturity">Gen Instr to fill Online CLAIM Application</a></li>
                                <li><a class="dropdown-item" href="~/Claim/MaturityLoanType" data-title="Apply for Maturity">Online Maturity Application</a></li>
                                <li><a class="dropdown-item" target="_blank" href="~/PdfViewer/MAWD" data-title="Apply for Maturity">Download Maturity withrawal Application</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fw-bold me-3" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">Download</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#">HBA Application &raquo;</a>
                                    <ul class="dropdown-menu dropdown-submenu">
                                        <li><a class="dropdown-item" href="/Default/HbaApplication">Gen Instr to Fill HBA Application</a></li>
                                        <li><a class="dropdown-item" href="~/PdfViewer/HbaApplication">Download HBA Application</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fw-bold me-3" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">Apply for loan online</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#">Gen Instrs &raquo;</a>
                                    <ul class="dropdown-menu dropdown-submenu">
                                        <li><a class="dropdown-item" href="~/PdfViewer/InstrHBA" target="_blank">House Loan (HBA)</a></li>
                                        <li><a class="dropdown-item" href="~/PdfViewer/InstrCA" target="_blank">Car/Two Wheeler Loan (CA)</a></li>
                                        <li><a class="dropdown-item" href="~/PdfViewer/InstrPCA" target="_blank">Computer Loan (PCA)</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/OnlineApplication/LoanType">Online Application</a>
                                    <a class="dropdown-item" href="/EmiCalculator/Calculator">Loan EMI Calculator</a>
                                </li>
                            </ul>

                        </li>


                        @{
                            var userId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
                            if (userId != null)
                            {
                                var isActive = await _userMapping.IsActiveUser(Convert.ToInt32(userId));
                                if (isActive == true)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link fw-bold bg-danger" href="~/Home/Index">DashBoard</a>
                                    </li>
                                    <li>
                                        <a class="nav-link fw-bold" href="~/Account/FinalLogout"> Sign Out </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="nav-link fw-bold" href="~/Account/FinalLogout"> Sign Out </a>
                                    </li>
                                }
                                
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link fw-bold" href="~/Account/Login">Login</a>
                                </li>
                                
                            }

                        }
                        <li class="nav-item">
                            <a class="nav-link fw-bold text-nowrap" href="~/Default/CheckApplicationStatus"> Application Status</a>
                        </li>
                        <!-- ... other code ... -->

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @await Html.PartialAsync("_chatBotPartial")

    <div class="renderbody">
        @RenderBody()
    </div>
    <footer id="layout-footer">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Invisible placeholder for balancing the center -->
                    <!-- Left Section: Centered Content -->
                    <div id="ftrMsg" class="flex-grow-1 text-center fw-bold">
                        Copyright © 2024 Developed by ASDC, DGIS. Sponser Dte : AGI
                    </div>
                    <!-- Right Section: Info Spans -->

                </div>
            </div>
        </div>
    </footer>

    <script src="~/devjs/layoutmain.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/devjs/mtable.js"></script>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
