@using DataTransferObject.Helpers
@model SessionUserDTO;
@{
    var role = Model.Role;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/images/favicon.svg" type="image/x-icon" />
    <title>ARMY GROUP INSURANCE FUND 3.0</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/lineicons.css" />
    <link rel="stylesheet" href="~/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link href="~/lib/datatable/css/datatable.min.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <link href="~/css/chatbot.css" rel="stylesheet" />
    <script src="~/lib/datatable/js/datatable.min.js"></script>
</head>
<body>
    <!-- ======== Preloader =========== -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- ======== Preloader =========== -->
    <!-- ======== sidebar-nav start =========== -->
    <aside class="sidebar-nav-wrapper bg-gradient-custom-vertical ">
        <div class="navbar-logo">
            <a href="/Home/Index">
                <img src="~/images/logo/AGIF_Logo.webp" alt="logo" />
            </a>
        </div>
        <nav class="sidebar-nav ">
            <ul>
                <li class="nav-item ">
                    <a href="/Home" class="active">
                        <i class="lni lni-layout mr-2"></i>
                        Dashboard
                    </a>
                </li>

                @if (Model?.Role == "CO")
                {
                    <li class="nav-item nav-item-has-children">
                        <a href="#0"
                           data-bs-toggle="collapse"
                           data-bs-target="#ddmenu_1"
                           aria-controls="ddmenu_1"
                           aria-expanded="false"
                           aria-label="Toggle navigation">
                            <i class="bi bi-list-check mr-2"></i>
                            <span class="text">Applications</span>
                        </a>
                        <ul id="ddmenu_1" class="collapse show dropdown-nav">
                            <li>
                                   <a href="#" class="submit-status" data-controller="ApplicationRequest" data-method="UserApplicationList" data-status="1"><i class="bi bi-hourglass"></i> Pending</a>

                            </li>
                            <li>

                                   <a href="#" class="submit-status" data-controller="ApplicationRequest" data-method="UserApplicationList" data-status="2"><i class="bi bi-check-circle-fill"></i> Approved</a>

                            </li>
                            <li>


                                  <a href="#" class="submit-status" data-controller="ApplicationRequest" data-method="UserApplicationList" data-status="3"><i class="bi bi-check-circle-fill"></i> Rejected</a>

                        </li>
                        </ul>
                    </li>
                }

                else if(Model?.Role == "MaturityAdmin")
                {
                    <li class="nav-item nav-item-has-children">
                        <a href="#0"
                           data-bs-toggle="collapse"
                           data-bs-target="#receivedApplicationToAdmin"
                           aria-controls="receivedApplicationToAdmin"
                           aria-expanded="false"
                           aria-label="Toggle navigation">
                            <i class="bi bi-list-check"></i>
                            <span class="text">Received Application</span>
                        </a>
                        <ul id="receivedApplicationToAdmin" class="collapse show dropdown-nav">
                            <li>
                              <a href="#" class="submit-status" data-controller="ApplicationRequest" data-method="ClaimApplicationListAdmin" data-status="102"><i class="bi bi-hourglass"></i> Maturity Received Application</a>

                            </li>
                            <li>

                             <a href="#" class="submit-status" data-controller="ApplicationRequest" data-method="ClaimApplicationListAdmin" data-status="104"><i class="bi bi-hourglass"></i> Maturity Downloaded Application</a>

                            </li>
                        </ul>
                    </li>

                }

                else if (Model?.Role == "Admin")
                {
                    <li class="nav-item nav-item-has-children">
                        <a href="#0"
                           data-bs-toggle="collapse"
                           data-bs-target="#receivedApplicationToAdmin"
                           aria-controls="receivedApplicationToAdmin"
                           aria-expanded="false"
                           aria-label="Toggle navigation">
                            <i class="bi bi-list-check"></i>
                            <span class="text">Received Application</span>
                        </a>
                        <ul id="receivedApplicationToAdmin" class="collapse show dropdown-nav">
                            <li>
                                <a href="#" class="submit-status" data-controller="ApplicationRequest" data-method="UsersApplicationListAdmin" data-status="2"><i class="bi bi-hourglass"></i> CA/PCA/HBA Received Application</a>

                                
                            </li>
                            <li>
                            
                              <a href="#" class="submit-status" data-controller="ApplicationRequest" data-method="UsersApplicationListAdmin" data-status="4"><i class="bi bi-hourglass"></i> CA/PCA/HBA Downloaded Application</a> 

                            </li>
                        </ul>
                    </li>

                }
                else if (Model?.Role == "SuperAdmin")
                {
                    <li class="nav-item nav-item-has-children">
                        <a href="#0"
                           data-bs-toggle="collapse"
                           data-bs-target="#ddmenu_2"
                           aria-controls="ddmenu_2"
                           aria-expanded="false"
                           aria-label="Toggle navigation">
                            <i class="bi bi-list-check"></i>
                            <span class="text">User Approval List</span>
                        </a>
                        <ul id="ddmenu_2" class="collapse show dropdown-nav">
                            <li>
                                <a href="#" class="submit-status active" data-controller="Account" data-method="GetAllUsers" data-status="true"><i class="bi bi-hourglass"></i>Active Users</a>

                            </li>
                            <li>

                                <a href="#" class="submit-status active" data-controller="Account" data-method="GetAllUsers" data-status="false"><i class="bi bi-check-circle-fill"></i>Deactive Users</a>

                            </li>
                        </ul>
                    </li>
                }

            </ul>

        </nav>

    </aside>
    <div class="overlay"></div>
    <div class="main-wrapper">
        <header class="header bg-gradient-custom">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-2 col-2">
                        <div class="header-left d-flex align-items-center">
                            <div class="menu-toggle-btn mr-15">
                                <button id="menu-toggle" class="main-btn  btn-hover">
                                    <i class="lni lni-chevron-left me-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Center section with Hello text -->
                    <div class="col-lg-8 col-md-8 col-8 text-center ">
                        <div class="header-center">
                            <span id="headerText" class="agi-title-font-size d-block">ARMY GROUP INSURANCE FUND 3.0</span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-2">
                        <div class="header-right d-flex justify-content-end">
                            <!-- profile start -->
                            <div class="profile-box ml-15">
                                <button class="dropdown-toggle bg-transparent border-0" type="button" id="profile"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="profile-info">
                                        <div class="info d-flex align-items-center">
                                            <div class="image me-2">
                                                <img src="~/images/logo/User_Logo.webp" alt="" />
                                            </div>
                                            <div>
                                                <h6 class="fw-500 text-white">Welcome  </h6>
                                                <p class="text-white fw-400 fs-5">@Model?.UserName</p>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
                                    <li>
                                        <div class="author-info flex items-center !p-1">
                                            <div class="content">
                                                <h4 class="text-sm">@Model?.UserName</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    
                                    <li>
                                        <a href="~/ApplicationRequest/EditUser"> <i class="lni lni-pencil-alt"></i> Edit Profile </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="~/Account/FinalLogout"> <i class="lni lni-exit"></i> Sign Out </a>
                                    </li>
                                   
                                </ul>
                            </div>
                            <!-- profile end -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
@*         @await Html.PartialAsync("_chatBotPartial")
 *@        <!-- ========== header end ========== -->

        <section class="section">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </section>

        <!-- ========== footer start =========== -->
        <footer class="footer bg-gradient-custom-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 order-last ">
                        <div class="copyright text-center text-md-start">
                            <p class="text-sm text-center">
                                Copyright © 2024 Developed by ASDC, DGIS. Sponser Dte 
                                <a href="#" rel="nofollow" target="_blank">
                                    : AGI
                                </a>
                            </p>
                        </div>
                    </div>
                   
                  
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </footer>
        <!-- ========== footer end =========== -->
    </div>
    <!-- ======== main-wrapper end =========== -->
    <!-- ========= All Javascript files linkup ======== -->

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/devjs/comman.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/devjs/layout.js"></script>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
